#header {
  font-size: 25px;
}

a {
  color: white;
}

.card {
  background-color: rgb(104, 163, 9);
}

.card-header {
  color: white;
}

.list-group {
  background-color: violet;
}

.btn {
  border-color: white;
  color: white;
}

.app-title {
  color: grey;
  text-align: center;
  text-transform: uppercase;
}

.fas.fa-times {
  color: red;
}
